.skillsBlock {
    background-color: lightgrey;
    /*height: 100vh;*/
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.title {
    background-color: darkgrey;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;

}